<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="tho-img-pkgs" value="https://pkgs.dev.azure.com/Thor-VA-ENG/4635d239-c724-4dcb-bf30-17e5738ac7f5/_packaging/tho-img-pkgs/nuget/v3/index.json" />
  </packageSources>
</configuration>
